---
---

@import "{{ site.theme }}";

.page-header { color: #fff; text-align: center; background-image: url("../images/dna-sequence-1600x800.jpg"); }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #000000; }
